*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}
nav{
    margin: 0 auto;
    width: 100%;
    height: 10vh;
    background-color: #00f;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav li{
    margin: 1rem;
    list-style: none;
}